@{
    ViewData["Title"] = "Terminos y Condiciones";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h2>Terminos y Condiciones</h2>

        <p>Texto de ejemplo de terminos y condiciones de JMCars. Aqui se detallaran las condicones y politcas y demas clausulas aplicaables a la pagina</p>
        <p>Este texto es provisorio para desarrollo y sera reemplazado por el definitivo antes de produccion</p>

        <a href="@Url.Action("Index","Home")" class="btn btn-link">Volver al inicio</a>
    </div>
</div>